.body {
    background: wheat;
}

.row {
    display:flex;
}

.column1 {
    flex: 25%;
    background: white;
}

.column2 {
    flex: 75%;
    background: wheat;
    text-align: center;
}

.institutionLogo {
    margin: 20px;
    text-align: center;
    font-size: 40px;
}

.institutionInfo {
    margin: 20px
}

.newCourse {
    background-color: #00006c;
    border: 0;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px;
    border-radius: 12px;
    width: 70%;
}

.newCourse:hover {
    background-color: #3e3e88;
    color: white;
}

.classCard {
    background-color: #00006c;
    border: 2px solid #00006c;
    color: white;
    width: 240px;
    height: 180px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 40px;}

.classCard:hover {
    border: 2px solid white;
    color: white;
}