.body {
  background-color: wheat;
}

.h1 {
  font-size: 48px;
  color: #00006c;

}
.row {
  background: wheat;
}

.col {
  background: wheat;
  text-align: center;
}

.col-6 {
  background: wheat;
  text-align: center;
}

.weekPanel {
  background-color: burlywood;
  border: 2px solid black;
  text-align: left;
}

.panel {
  background-color: #E9E9E9;
  border: 2px solid #00006c;
  text-align: left;
  font-size: 20px;
  padding: 8px 16px;
  margin: 30px;
  border-radius: 12px;

}

.button {
  background-color: #00006c;
  border: 0;
  color: white;
  width: 95px;
  height: 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
  margin: 40px;
  transition-duration: 0.2s;
}
.button:hover {
  background-color: #3e3e88;
  color: white;
}

.backButton {
  background-color: #00006c;
  border: 0;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 10px;
  transition-duration: 0.2s;
}

.backButton:hover {
  background-color: #3e3e88;
  color: white;
}

.container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #E9E9E9;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #00006c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #00006c;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #00006c;
  color: white;
}

.switchA button {
  background-color: white;
  border: 0;
  color: #00006c;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  width: 130px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition-duration: 0.2s;
}

.switchA button:hover {
  background-color: white;
  color: #00006c;
}

.switchA button.active {
  background-color: #00006c;
  color: white;
}

.saveButton {
  background-color: red;
  color: white;
  padding: 8px 16px;
  width: 20%;
  border-radius: 12px;
  border: 0;
}

.saveButton:hover {
  background-color: #ff5252;
}
